<template>
  <v-container fluid>
    <v-layout align-center justify-center>
      <v-flex xs12 sm12 md12 lg12 xl12 mb-3>
        <v-breadcrumbs :items="items" divider=">"></v-breadcrumbs>
      </v-flex>
    </v-layout>

    <v-layout>
      <v-flex xs12 sm12 md12 ma-1>
        <v-card>
          <v-card-title>
            <div class="headline">Editar producto</div>
          </v-card-title>
          <v-card-text>
            <v-flex
              v-if="productData!=null"
            >
              <ProductForm
                :product-data="productData"
                :update="true"
              />
            </v-flex>
            <div v-else>No se encontraron elementos</div>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import ProductForm from '~/components/admin/products/Create.vue';

  export default {
    async created () {
      this.productData = await this.getProductData();
    },
    components: {
      ProductForm
    },
    asyncData({params}) {
      let id = params.upload;
      console.log(params);
      return {
        idProduct:id
      }
    },
    data() {    
        return {
            productData: null,
      items: [
        {
          text: 'Admin',
          disabled: false,
          href: '/admin'
        },
        {
          text: 'Productos',
          disabled: false,
          href: '/admin/products'
        },
                {
          text: 'Editar',
          disabled: true,
          href: '/admin/products/update'
        },
      ]
    }
    },
    methods: {
      async getProductData() {
        const res = await this.$axios.get(`products/${this.idProduct}`);
        return res.data.data;
      },
    },
  }
</script>