<template>
  <v-container fluid>
    <v-layout align-center justify-center>
      <v-flex xs12 sm12 md12 lg12 xl12 mb-3>
        <div>
          <v-breadcrumbs :items="items" divider=">"></v-breadcrumbs>
        </div>
      </v-flex>
    </v-layout>
    <v-layout>
      <v-flex xs12 sm12 md12 ma-1>
        <v-card ma-5 pa-5>
          <v-card-title>
            <div class="headline">Agregar producto</div>
          </v-card-title>
          <v-card-text>
            <v-flex xs12 sm12 md12 ma-1>
              <ProductForm />
            </v-flex>
          </v-card-text>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import ProductForm from '~/components/admin/products/Create';

export default {
  components: {
    ProductForm,
  },
  data() {
    return {
      items: [
        {
          text: 'Admin',
          disabled: false,
          href: '/admin'
        },
        {
          text: 'Productos',
          disabled: false,
          href: '/admin/products'
        },
                {
          text: 'Crear',
          disabled: true,
          href: 'admin/products/create'
        },
      ]
    }
  },
};
</script>