<template>
  <div>
    <v-container flex text-xs-center>
      <v-container fluid mt-8>
      <v-layout align-center justify-center>
        <v-flex xs12 sm12 md12 lg12 xl12 mb-3>
          <div>
            <div style="float:left;" class="headline">Listado de Productos</div>
            <nuxt-link to="products/create" style="float:right; text-decoration:none;">
              <v-btn>Nuevo producto</v-btn>
            </nuxt-link>
          </div>
        </v-flex>
      </v-layout>
      <v-layout>
        <v-flex xs12 sm12 md12 lg12 xl12 ma-1>
          <ProductList/>
        </v-flex>
      </v-layout>

    </v-container>
      </v-container>
    </div>
</template>

<script>
import ProductList from '../../../components/admin/products/ProductsList'
export default {
  middleware: 'isAdmin',
  components: {
    ProductList,
  },
  async created () {
  /*   try {
     this.$axios.get('/products')
        .then(res => {
          this.list = res.data.data;
        })
        .catch(error => {
          console.log(error.data)
        }) 
    } catch (error) {
      console.log(error.data)
    }*/
  }
}
</script>

<style>

</style>