<template>
  <div>
      <h1>
          Admin dashboard
      </h1>
      <v-layout row wrap class="v-box">
          <v-flex xs9 md10 pa-2 mt-4>
              <nuxt-link to="/admin/products" style="text-decoration:none;">
              <v-btn>
                  Products
              </v-btn>
              </nuxt-link>
          </v-flex>
      </v-layout>
  </div>
</template>

<script>
export default {
    middleware: 'isAdmin'
}
</script>

<style>

</style>