<template>
  <div>
    <v-container flex text-xs-center my-16>
      <div v-if="errors_response.length>0">
        <v-alert type="error" v-for="(err, index) in errors_response" :key="index">
          {{ err }}
        </v-alert>
      </div>
      <v-layout row wrap justify-center my-5>
        <v-flex xs12 sm8 lg6>
          <v-card color="#eceff1" :loading="loading">
            <v-flex xs12 class="text-md-center">
              <v-layout row wrap class="v-box text-xs-center">
                <v-flex xs12 md5 class="pr-md-0 pl-md-0 pr-3 pl-3">
                  <v-card
                    pa-0
                    height="100%"
                    style="
                            background-blend-mode: multiply;
                            background-size: cover; background-position:center;
                            background-image: url(https://cdn.pixabay.com/photo/2017/08/10/06/06/controller-2618897__340.jpg)"
                  >
                    <v-card-title>
                      <v-flex mt-5>
                        <h5 class="body-2 ma-1"
                        style="color:#ffffff;">¡Bienvenido nuevamente!</h5>
                      </v-flex>
                    </v-card-title>
                  </v-card>
                </v-flex>
                <v-flex xs12 md7>
                  <v-container class="text-center">
                    <div class="text-center"></div>
                    <v-form>
                      <h3 class="mt-2">Ingresa a Narschjs</h3>
                      <v-flex ma-3>
                        <v-text-field
                          required
                          outline
                          type="email"
                          label="Email"
                          v-model="data.email"
                          maxlength="30"
                        ></v-text-field>
                        <v-text-field
                          outline
                          label="Contraseña"
                          type="password"
                          maxlength="20"
                          v-model="data.password"
                        ></v-text-field>
                        <v-btn
                          :loading="loading"
                          :disabled="loading"
                          large
                          block
                          color="primary"
                          @click="login"
                        >Ingresar</v-btn>
                        <v-checkbox
                        v-model="remember"
                        label="Recordar Contraseña"></v-checkbox>
                        <router-link to="/" class="d-flex justify-center">
                          ¿Has olvidado tu contraseña?
                        </router-link>
                        <v-layout justify-center row fill-height mt-2>
                          <p class="text-center mr-2">¿No tienes cuenta de Narschjs?</p>
                          <router-link to="/register">Registrarse</router-link>
                        </v-layout>
                      </v-flex>
                    </v-form>
                  </v-container>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Vue from 'vue';

export default {
  auth: 'guest',
  data() {
    return {
      data: {
        email: '',
        password: ''
      },
      remember: false,
      message: '',
      errors_response: [],
      loading: false,
      dictionary: {
        es: {
          messages: {
            required: () => 'Este campo es requerido.',
            max: () => 'Este campo excede la cantidad de caracteres.'
          }
        }
      }
    }
  },
  methods: {
    async login() {
      this.loading = true;
      try {
        await this.$auth.loginWith('local', {
            data: this.data
        })
        .catch(error => {
            this.errors_response = error.response.data.errors
          });

         if (this.$auth.loggedIn) {
          if (this.$auth.user.roles.find(e => { return e.slug === 'admin' || 'superadmin' })) {
            console.log(this.$auth.user.roles);
            this.$store.commit('auth/login', this.$auth.user)
            this.$router.push('/admin')
            console.log(this.$store.$auth.$state);
          } else { this.$router.push('/user') }
        }
      } catch (e) {
        console.log('Error', e);
      }
        this.loading = null;
    },
    logout() {
      this.$axios.get(`${process.env.API_URL}/logout`);
      this.$auth.logout()
      this.$store.commit('auth/logout')
    }
  }
}
</script>

<style>
a {
  text-decoration: none;
}

a:hover {
  font-weight: 600;
  color: rgb(59, 59, 85);
}

.theme--light.v-text-field--outline > .v-input__control > .v-input__slot {
  border: 1px solid rgba(63, 64, 85, 0.63) !important;
}

.v-text-field--outline > .v-input__control > .v-input__slot {
  background: transparent !important;
  border-radius: 0px !important;
}

.v-form .v-btn {
  border-radius: 0px;
}

.btn_icon__login img {
  width: 30px;
}

h3 {
  color: rgb(59, 59, 85);
}
</style>
