<template>
  <div>
    <v-container flex text-xs-center my-16>
      <v-layout row wrap justify-center my-3>
        <v-flex xs12 sm8 lg6>
          <v-card color="#eceff1">
            <v-flex xs12 class="text-md-center">
              <v-layout row wrap class="v-box text-xs-center">
                <v-flex xs12 md5 class="pr-md-0 pl-md-0 pr-3 pl-3">
                  <v-card
                    pa-0
                    height="100%"
                    style="
                            background-blend-mode: multiply;
                            background-size: cover; background-position:center; 
                            background-image: url(https://cdn.pixabay.com/photo/2017/08/10/06/06/controller-2618897__340.jpg)"
                  >
                  </v-card>
                </v-flex>
                <v-flex xs12 md7>
                  <v-container class="text-center">
                    <div class="text-center"></div>
                    <v-form>
                      <h3 class="mt-2">Registrate</h3>
                      <v-flex ma-3>
                        <v-text-field
                          required
                          outline
                          label="Nombre"
                          maxlength="20"
                        ></v-text-field>
                        <v-text-field
                          required
                          outline
                          label="Apellido"
                          maxlength="20"
                        ></v-text-field>
                        <v-text-field
                          outline
                          label="Contraseña"
                          type="password"
                          maxlength="20"
                        ></v-text-field>
                        <v-text-field
                          outline
                          label="Repetir contraseña"
                          type="password"
                          maxlength="20"
                        ></v-text-field>
                        <v-btn
                          large
                          block
                          color="primary"
                        >Registrarse</v-btn>
                        <v-layout justify-center row fill-height mt-6>
                          <p class="text-center mr-2">¿ya tienes cuenta de Narschjs?</p>
                          <router-link to="/">Ingresar</router-link>
                        </v-layout>
                      </v-flex>
                    </v-form>
                  </v-container>
                </v-flex>
              </v-layout>
            </v-flex>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {
    auth: 'guest'
}
</script>