<template>
    <div>
        <div v-if="errors.length>0">
            <v-alert type="error" v-for="(err, index) in errors" :key="index">
                {{ err }}
            </v-alert>
        </div>
        <v-alert dark v-if="msg !== ''" type="success">
            {{ msg }}
        </v-alert>
        <v-form
            lazy-validation
            ref='form'>
            <v-layout row wrap class="v-box">
                    <v-flex xs9 md10 pa-2>
                        <v-text-field
                        outline
                        v-model.trim="product.name"
                        label="Nombre del producto"
                        data-vv-name="product.name"
                        required
                        ></v-text-field>
                    </v-flex>
                
                <v-flex xs2 md2 x2 pa-2 text-md-center>
                    <v-switch
                        v-model="product.status"
                        color="primary"
                        :label="`Activar`"
                        style="float:right;"
                    ></v-switch>
                </v-flex>
                <v-layout justify-space-between>
                    <v-flex xs8 lg8 pa-2 text-lg-center>
                    <v-select
                    v-model="product.condition"
                    :items="productConditions"
                    label="Condición del producto"
                    pt-3
                    required
                    outline
                    :disabled="update == true"
                    ></v-select>
                </v-flex>
                <v-flex xs2 sm2 lg2 md2 pa-2>
                    <v-text-field
                        outline
                        v-model.number="product.price"
                        type="number"
                        step=".01"
                        :min="0"
                        label="Precio"
                        required
                        :maxlength="100"
                    ></v-text-field>
                </v-flex>
                <v-flex xs2 sm2 lg2 md2 pa-2>
                    <v-text-field
                        outline
                        v-model.number="product.stock"
                        type="number"
                        step="any"
                        :min="0"
                        label="Inventario"
                        required
                        :maxlength="1000"
                    ></v-text-field>
                </v-flex>
                </v-layout>
                
                <v-flex
                    xs12
                    pa-1
                    >
                    <v-textarea
                        v-model="product.description"
                        label="Descripción del producto"
                        data-vv-name="product.description"
                        :maxlength="500"
                        rows="5"
                        outline
                    />
                </v-flex>
            </v-layout>
            <v-layout row wrap mt-3 justify-end>
                <v-btn
                    color="blue-grey light-2"
                    :loading="loading" 
                    v-if="update === true" 
                    @click="upProduct"
                >Actualizar</v-btn
                >
                <v-btn 
                    color="blue-grey light-2"
                    mr-1
                    style="color:#ffffff; margin-right:0.5em;"
                    :loading="loading" 
                    v-else @click="submit">
                    Guardar
                </v-btn>
                <v-btn 
                    color="blue-grey light-2" 
                    style="color:#ffffff;" 
                    @click="clear">
                    Restaurar
                </v-btn>
            </v-layout>
        </v-form>
    </div>  
</template>

<script>
import _ from 'lodash';
import { ValidationProvider } from 'vee-validate';
import { required } from 'vee-validate/dist/rules';

export default {
    components: {
    ValidationProvider
  },
 props: {
    productData: {
       type: Object,
        default: null
    },
    update: {
       type: Boolean,
       default: null
    }
 },
 data() {
     return {
        errors: [],
        update: false,
        msg: '',
        product: {
            name: '',
            description: '',
            condition: '',
            status: false,
            price: 0,
            stock: 0,
            mainPicture: null
        },
        loading: false,
        productConditions: [
            { text: 'Nuevo', value: 'new' },
            { text: 'Usado', value: 'used' },
            { text: 'Restaurado', value: 'refurbished' }
        ],
     }
 },
 methods: {
     async submit() {
      const data = this.product
      console.log(data);
      this.loading = true
      const res = await this.$axios
        .post('/products', data)
        .then(res => {
            console.log(res);
            this.msg = 'Producto creado exitosamente'
            setTimeout(function() {
                console.log('done')
            }, 90000)
            this.$router.push('/admin/products')
        })
        .catch(error => {
            this.errors = _.map(error.response.data.errors, e => {
                return e.constraints;
            })
            console.log(error.response.data.errors);
        })
      this.loading = false
    },
        clear() {
                this.product.name = ''
                this.product.description = ''
                this.product.condition = ''
                this.product.status = false
                this.product.price = 0
                this.product.stock = 0
                this.product.mainPicture = null
            }
    },
    created() {
        if (this.productData != null) { 
            this.product = this.productData 
        }
    }
 }
</script>

<style>

</style>