<template>
  <div>
    <div v-if="errors.length>0">
        <v-alert type="error" v-for="(err, index) in errors_response" :key="index">
          {{ err }}
        </v-alert>
    </div>
    <v-alert dark v-if="msg !== ''" type="info">
        {{ msg }}
    </v-alert>
    <v-layout>
      <v-flex xs12 sm12 md12 pa-2>
        <v-text-field
          outline
          v-model="textSearch"
          label="Buscar"
          data-vv-name="textSearch"
          required
          append-icon="mdi-magnify"
          @click:append="getProductList"
          v-on:keyup.enter="getProductList"
        ></v-text-field>
      </v-flex>
    </v-layout>
    <v-data-table
      :headers="headers"
      :items="product"
      class="elevation-1"
      no-results-text="No hay datos disponibles"
      no-data-text="No hay datos disponibles"
      footer-props.items-per-page-text="Filas por página"
      :pagination.sync="pagination"
      :total-items="pagination.totalItems"
      footer-props.items-per-page-options="[pagination.rowsPerPage, 25, 50, 100]"
      @update:pagination="updatePagination"
      :loading="loading"
    >
      <template v-slot:[`item.actions`]="{ item }">
        <v-btn
        x-small
        fab
        dark
        color="success"
        @click="editProduct(item.id)">
            <v-icon small>mdi-pencil</v-icon>
        </v-btn>
        <v-btn
        x-small
        fab
        dark
        color="red"
        @click="activateDialog(item.id)">
            <v-icon small>mdi-delete</v-icon>
        </v-btn>
      </template>
      <template v-slot:pageText="props">
        {{ props.pageStart }} - {{ props.pageStop }} de {{ props.itemsLength }}
      </template>
    </v-data-table>
    <v-dialog v-model="dialog" persistent max-width="400">
      <v-card color="blue-grey light-2">
        <v-card-title style="color:white;">Confirmación</v-card-title>
        <v-card-text style="color:white;">¿Seguro que desea eliminar este articulo?</v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="light" text @click="deleteProduct()">Si</v-btn>
          <v-btn color="light" text @click="dialog = false">Mejor no</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import _ from 'lodash';

export default {
  async created () {
    this.product = await this.getProductsData();
  },
  methods: {
    async updatePagination(pagination) {
      let newOrder = this.pagination.descending ? 'desc' : 'asc'
      this.loading = true

      const res = await this.$axios
        .get('/products', {
          params: {
            search: this.textSearch,
            order: newOrder,
            page: this.pagination.page ? this.pagination.page : 1,
            perPage: this.pagination.rowsPerPage,
          },
        })
        .then(res => {
          //this.pagination.totalItems = res.data.pagination.totals
          this.product = res.data.data
          this.loading = false
        })
    },
    async getProductList() {
      this.loading = true
      const res = await this.$axios.get('/products', {
        params: {
          search: this.textSearch,
        },
      })
      this.product = res.data.data
      this.loading = false
    },
    activateDialog(id) {
      this.dialog = true
      this.idDelete = id
    },
    async deleteProduct() {
      const res = await this.$axios
        .delete(`products/${this.idDelete}`)
        .then((res) => {
          if(res.data.code === 201) {
            this.msg = 'Producto eliminado exitosamente';
          }
          _.remove(this.product, (e) => {
            return e.id === this.idDelete
          })
        })
        .catch((error) => {
          this.errors_response = error.response.data.errors
        })
      this.dialog = false
    },
    editProduct(id) {
      this.$router.push(`products/${id}`)
    },
    async getProductsData() {
      const res = await this.$axios.get('/products')
      const data = res.data.data;
      data.map(e => { 
        e.status = !e.status ? 'Inactivo' : 'Activo';
        e.createdAt = moment.unix(e.createdAt).fromNow();
        return e;
       })
       return data;
    }
  },
  data() {
    return {
      dialog: false,
      loading: false,
      textSearch: null,
      dialogStatus: false,
      pending: false,
      msg: '',
      idDelete: null,
      productUpdate: null,
      errors: [],
      product: [],
      headers: [
        { text: 'Nombre', align: 'left', value: 'name' },
        { text: 'Estado', value: 'status' },
        { text: 'Inventario', value: 'stock' },
        { text: 'Fecha de creación', value: 'createdAt' },
        { text: 'Creado por', value: 'createdBy.fullName' },
        { text: 'Acción', value: 'actions', sortable: false },
      ],
      pagination: {
        page: 1,
        rowsPerPage: 10,
        totalItems: null,
        sortBy: '',
        descending: 'desc',
      },
    }
  },
}
</script>